<!DOCTYPE html>
<html>
<head>
</head>

<body>
<center>
   <table  border="1" width="500">
    <tr bgcolor="lightpink">
        <td colspan="2" align="center">Academic Quailifications</td>
        <td  align="center" width="100">Year Awarded</td>
    </tr>
    <tr>
        <td rowspan="2" width="200" align="center">Bachelor Of Engineering</td>   
        <td width="250">The University Of Cambridge</td> 
        <td>1999</td>
    </tr>
    <tr>
        <td colspan="2" align="center" bgcolor="lightpink">
            First Class Honor</td>
    </tr>

    <tr>
        <td rowspan="2" width="200" align="center">
            Mater Of Computer Science
        </td>   
        <td width="250">The University Of Tokyo</td> 
        <td>2006</td>
    </tr>
    <tr>
        <td colspan="2" align="center" bgcolor="lightpink">
            The Best Student Of The Year</td>
    </tr>

    <tr>
        <td rowspan="2" width="200" align="center">Doctor Of Medicine</td>   
        <td width="250">The University Of Singapore</td> 
        <td>2015</td>
    </tr>
    <tr>
        <td colspan="2" align="center" bgcolor="lightpink">
            The Best Thesis Award</td>
    </tr>

    
   
   </table>
</center>

</body>
</html>
